# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 2</font>

## Download: http://github.com/dsacademybr

## Exercícios

In [2]:
# Exercício 1 - Imprima na tela os números de 1 a 10
print(1,2,3,4,5,6,7,8,9,10)

1 2 3 4 5 6 7 8 9 10

In [3]:
# Exercício 2 - Crie uma lista de 5 objetos e imprima na tela
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [4]:
# Exercício 3 - Crie duas strings e concatene as duas em uma terceira string
a = "You"
b = "Are"
print(a+" "+b)

You Are

In [5]:
# Exercício 4 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do 
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)
tupla.count(4)

3

In [6]:
# Exercício 5 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
dict = {"you":3, "are":4, "terrible":5}
print(dict)

{'you': 3, 'are': 4, 'terrible': 5}

In [8]:
# Exercício 6 - Adicione mais uma ferramenta ao dicionário criado no exercício anterior e imprima na tela
dict["we"] = 10
print(dict)

{'you': 3, 'are': 4, 'terrible': 5, 'we': 10}

In [12]:
# Exercício 7 - Crie um arquivo chamado nomes.txt no diretório onde está este notebook, grave 5 nomes no arquivo e 
# feche-o.
%%writefile teste.txt
Sheila, Marcos, Vinicius, Leticia, João

SyntaxError: invalid syntax (<ipython-input-12-1fb13cfddfbe>, line 3)

In [17]:
# Exercício 8 - Abra o arquivo criado no item anterior e leia o arquivo na tela.
rd = open("nomes.txt", "r")
rd.read()

'Brian, Peter, John, Eric, Bernard'

In [19]:
# Exercício 9 - Crie um dicionário vazio e imrpima na tela
dict = {}
print(dict)

{}

In [23]:
# Exercício 10 - Complelete o trecho de código abaixo criado com Pandas e use a função tail() para ler os últimos 
# elementos do dataset.
import pandas as pd
file_name = "http://www.ats.ucla.edu/stat/data/binary.csv"
df = pd.read_csv(file_name)
df.tail()

     admit  gre   gpa  rank
395      0  620  4.00     2
396      0  560  3.04     3
397      0  460  2.63     2
398      0  700  3.65     2
399      0  600  3.89     3

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>