# <font color='blue'>Data Science Academy - Python Fundamentos - Capítulo 6</font>

## Download: http://github.com/dsacademybr

### Update e Delete

In [5]:
import sqlite3
import random
import time
import datetime
 
# Criando uma conexão
conn = sqlite3.connect('dsa.db')   

# Criando um cursor
c = conn.cursor()
 
# Função para criar uma tabela
def create_table():
    c.execute('CREATE TABLE IF NOT EXISTS produtos(id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL, date TEXT, '\
              'prod_name TEXT, valor REAL)')
      
# Função para inserir uma linha
def data_insert():
    c.execute("INSERT INTO produtos VALUES(002, '02-05-2016', 'teclado', 130 )")
    conn.commit()
    c.close()
    conn.close()
    
# Usando variáveis para inserir dados    
def data_insert_var():
    new_date = datetime.datetime.now()
    new_prod_name = 'monitor'
    new_valor = random.randrange(50,100)
    c.execute("INSERT INTO produtos (date, prod_name, valor) VALUES (?, ?, ?, ?)", 
              (new_date, new_prod_name, new_valor))
    conn.commit()
    
# Leitura de dados
def leitura_todos_dados():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha)
        
# Leitura de registros específicos
def leitura_registros():
    c.execute("SELECT * FROM PRODUTOS WHERE valor > 70.0")
    for linha in c.fetchall():
        print(linha)      
        
# Leitura de colunas específicos
def leitura_colunas():
    c.execute("SELECT * FROM PRODUTOS")
    for linha in c.fetchall():
        print(linha[3])  
        
# Update
def atualiza_dados():
    c.execute("UPDATE produtos SET valor = 70.00 WHERE valor = 80.0")
    conn.commit()
    
# Delete
def remove_dados():
    c.execute("DELETE FROM produtos WHERE valor = 60.0")
    conn.commit()

In [2]:
atualiza_dados()

In [3]:
leitura_todos_dados()

(10, '2016-05-02 14:32:11', 'Teclado', 90.0)
(11, '2016-05-23 14:13:21.779164', 'Monitor', 70.0)
(12, '2016-05-23 14:13:22.785889', 'Monitor', 60.0)
(13, '2016-05-23 14:13:23.791211', 'Monitor', 50.0)
(14, '2016-05-23 14:13:24.796350', 'Monitor', 92.0)
(15, '2016-05-23 14:13:25.802804', 'Monitor', 91.0)
(16, '2016-05-23 14:13:26.805365', 'Monitor', 62.0)
(17, '2016-05-23 14:13:27.810955', 'Monitor', 83.0)
(18, '2016-05-23 14:13:28.813340', 'Monitor', 82.0)
(19, '2016-05-23 14:13:29.819722', 'Monitor', 98.0)
(20, '2016-05-23 14:13:30.825445', 'Monitor', 71.0)

In [6]:
remove_dados()

In [7]:
leitura_todos_dados()

(10, '2016-05-02 14:32:11', 'Teclado', 90.0)
(11, '2016-05-23 14:13:21.779164', 'Monitor', 70.0)
(13, '2016-05-23 14:13:23.791211', 'Monitor', 50.0)
(14, '2016-05-23 14:13:24.796350', 'Monitor', 92.0)
(15, '2016-05-23 14:13:25.802804', 'Monitor', 91.0)
(16, '2016-05-23 14:13:26.805365', 'Monitor', 62.0)
(17, '2016-05-23 14:13:27.810955', 'Monitor', 83.0)
(18, '2016-05-23 14:13:28.813340', 'Monitor', 82.0)
(19, '2016-05-23 14:13:29.819722', 'Monitor', 98.0)
(20, '2016-05-23 14:13:30.825445', 'Monitor', 71.0)

# Fim

### Obrigado - Data Science Academy - <a href=http://facebook.com/dsacademy>facebook.com/dsacademybr</a>